@page "/ordersxmlreader"
@using System.Xml.Linq;
@using Data;

<PageTitle>XML Reader</PageTitle>

<h1>XML Reader</h1>

<!-- Choose a XML file -->
<button onclick="document.getElementById('flpicker').click()">Pick a XML file</button>
<InputFile id="flpicker" OnChange="@ReadFile" hidden />

<!-- Display XML file's content (customers, shops, terminal) -->
<CompaniesGrid companies="@companies" foo="@foo" />
<ShopsGrid />
<TerminalsGrid />

<div id="thumb0" class="thumbs" onclick="@klikaj">knock knock</div>


@code{

    private List<Company> companies = new List<Company>();
    private List<Shop> shops = new List<Shop>();
    private List<Terminal> terminals = new List<Terminal>();

    private string foo = "";

    private void klikaj()
    {
        foo = "aaa";
    }

    private async Task ReadFile(InputFileChangeEventArgs e)
    {
        if (e.File.ContentType == "text/xml")
        {
            var xmlFileString = await new StreamReader(e.File.OpenReadStream(e.File.Size)).ReadToEndAsync();

            // todo 1) parse XML and bind it to
            //          -   CustomersGrid's customers variable,
            //          -   ShopsGrid's shops variable
            //          -   TerminalsGrid's terminals variable
            await BindXml(XElement.Parse(xmlFileString));
        }
        else
        {
            // todo print BlazorBootstrap's error/warning popup "Unsupported file. Selected file must be XML!"
        }
    }

    private async Task BindXml(XElement xmlTree)
    {

        async Task<List<Company>> BindCompanies(XElement? companiesXml)
        {
            List<Company> bindedCompanies = new List<Company>();
            if (companiesXml != null)
            {
                var companies = companiesXml.Elements().Where(x => x.Name.LocalName.ToString() == "GMFRecord").ToList();
                foreach (var company in companies)
                {
                    var newCompany = new Company()
                    {
                        companyAcqCode = Convert.ToInt32(company.Elements().Where(x => x.Attribute("name").Value == "companyAcqCode").First().Value),
                        companyAddressType = company.Elements().Where(x => x.Attribute("name").Value == "companyAddressType").First().Value,
                        companyCity = company.Elements().Where(x => x.Attribute("name").Value == "companyCity").First().Value,
                        companyContactPerson = company.Elements().Where(x => x.Attribute("name").Value == "companyContactPerson").First().Value,
                        companyContactPersonFunction = company.Elements().Where(x => x.Attribute("name").Value == "companyContactPersonFunction").First().Value,
                        companyCountry = company.Elements().Where(x => x.Attribute("name").Value == "companyCountry").First().Value,
                        companyHouseNum = company.Elements().Where(x => x.Attribute("name").Value == "companyHouseNum").First().Value,
                        companyId = company.Elements().Where(x => x.Attribute("name").Value == "companyId").First().Value,
                        companyName = company.Elements().Where(x => x.Attribute("name").Value == "companyName").First().Value,
                        companyNickname = company.Elements().Where(x => x.Attribute("name").Value == "companyNickname").First().Value,
                        companyProvinceCode = company.Elements().Where(x => x.Attribute("name").Value == "companyProvinceCode").First().Value,
                        companyStatus = company.Elements().Where(x => x.Attribute("name").Value == "companyStatus").First().Value,
                        companyStreet = company.Elements().Where(x => x.Attribute("name").Value == "companyStreet").First().Value,
                        companyZip = company.Elements().Where(x => x.Attribute("name").Value == "companyZip").First().Value,
                    };

                    bindedCompanies.Add(newCompany);
                }
            }

            return bindedCompanies;
        }

        async Task<List<Shop>> BindShops(XElement? shopsXml)
        {
            var bindedShops = new List<Shop>();

            if (shopsXml != null)
            {
                var shops = shopsXml.Elements().Where(x => x.Name.LocalName.ToString() == "GMFRecord").ToList();
                foreach (var shop in shops)
                {

                    var newShop = new Shop()
                    {
                        shopAcqCode = Convert.ToInt32(shop.Elements().Where(x => x.Attribute("name").Value == "shopAcqCode").First().Value),
                        shopCompanyId = shop.Elements().Where(x => x.Attribute("name").Value == "shopCompanyId").First().Value,
                        shopId = shop.Elements().Where(x => x.Attribute("name").Value == "shopId").First().Value,
                        shopRecordAction = shop.Elements().Where(x => x.Attribute("name").Value == "shopRecordAction").First().Value,
                        shopName = shop.Elements().Where(x => x.Attribute("name").Value == "shopName").First().Value,
                        shopStatus = shop.Elements().Where(x => x.Attribute("name").Value == "shopStatus").First().Value,
                        shopContactPerson = shop.Elements().Where(x => x.Attribute("name").Value == "shopContactPerson").First().Value,
                        shopContactPersonFunction = shop.Elements().Where(x => x.Attribute("name").Value == "shopContactPersonFunction").First().Value,
                        shopAgentCode = shop.Elements().Where(x => x.Attribute("name").Value == "shopAgentCode").First().Value,
                        shopRegisterNumber = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopRegisterNumber").First().Value, out int shopRegisterNumberInt) ? shopRegisterNumberInt : null,
                        shopRegisterProvince = shop.Elements().Where(x => x.Attribute("name").Value == "shopRegisterProvince").First().Value,
                        shopMCC = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopMCC").First().Value, out int shopMCCInt) ? shopMCCInt : null,
                        shopEnablePAN = shop.Elements().Where(x => x.Attribute("name").Value == "shopEnablePAN").First().Value,
                        shopDefaultRefundFlag = shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultRefundFlag").First().Value,
                        shopDefaultAuthFlag = shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultAuthFlag").First().Value,
                        shopDefaultSignaturePin = shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultSignaturePin").First().Value,
                        shopDefaultOfflineFloorLimit = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultOfflineFloorLimit").First().Value, out int shopDefaultOfflineFloorLimitInt) ? shopDefaultOfflineFloorLimitInt : null,
                        shopDefaultOfflineFloorCurrenc = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultOfflineFloorCurrenc").First().Value, out int shopDefaultOfflineFloorCurrencInt) ? shopDefaultOfflineFloorCurrencInt : null,
                        shopDefaultOfflineTipParameter = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultOfflineTipParameter").First().Value, out int shopDefaultOfflineTipParameterInt) ? shopDefaultOfflineTipParameterInt : null,
                        shopDefaultRandNum = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultRandNum").First().Value, out int shopDefaultRandNumInt) ? shopDefaultRandNumInt : null,
                        shopDefaultOfflineKeyed = shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultOfflineKeyed").First().Value,
                        shopDefaultCATInd = shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultCATInd").First().Value,
                        shopDefaultCATMaxNum = int.TryParse(shop.Elements().Where(x => x.Attribute("name").Value == "shopDefaultCATMaxNum").First().Value, out int shopDefaultCATMaxNumInt) ? shopDefaultCATMaxNumInt : null,
                        shopHotelReserv = shop.Elements().Where(x => x.Attribute("name").Value == "shopHotelReserv").First().Value,
                        shopQuasiCash = shop.Elements().Where(x => x.Attribute("name").Value == "shopQuasiCash").First().Value,
                        shopCash = shop.Elements().Where(x => x.Attribute("name").Value == "shopCash").First().Value,
                        shopTurnoverLetterFlag = shop.Elements().Where(x => x.Attribute("name").Value == "shopTurnoverLetterFlag").First().Value,
                        shopAggrCode = shop.Elements().Where(x => x.Attribute("name").Value == "shopAggrCode").First().Value,
                        shopGeoSectorCode = shop.Elements().Where(x => x.Attribute("name").Value == "shopGeoSectorCode").First().Value,
                        shopStatementType = shop.Elements().Where(x => x.Attribute("name").Value == "shopStatementType").First().Value,
                        shopStatementCycle = shop.Elements().Where(x => x.Attribute("name").Value == "shopStatementCycle").First().Value,
                        shopAdmContacPerson = shop.Elements().Where(x => x.Attribute("name").Value == "shopAdmContacPerson").First().Value,
                        shopAdmTitleOfThePerson = shop.Elements().Where(x => x.Attribute("name").Value == "shopAdmTitleOfThePerson").First().Value,
                        shopNickname = shop.Elements().Where(x => x.Attribute("name").Value == "shopNickname").First().Value,
                        shopFirstContactMobileNumber = shop.Elements().Where(x => x.Attribute("name").Value == "shopFirstContactMobileNumber").First().Value,
                        shopFirstContactEmailAddress = shop.Elements().Where(x => x.Attribute("name").Value == "shopFirstContactEmailAddress").First().Value,
                        shopSecondContactMobileNumber = shop.Elements().Where(x => x.Attribute("name").Value == "shopSecondContactMobileNumber").First().Value,
                        shopSecondContactEmailAddress = shop.Elements().Where(x => x.Attribute("name").Value == "shopSecondContactEmailAddress").First().Value,
                        shopPreAuthorization = shop.Elements().Where(x => x.Attribute("name").Value == "shopPreAuthorization").First().Value,
                        shopTip = shop.Elements().Where(x => x.Attribute("name").Value == "shopTip").First().Value,
                        shopNumberOfActiveTerminals = shop.Elements().Where(x => x.Attribute("name").Value == "shopNumberOfActiveTerminals").First().Value,
                        shopFreeText = shop.Elements().Where(x => x.Attribute("name").Value == "shopFreeText").First().Value,
                        shopAddressType = shop.Elements().Where(x => x.Attribute("name").Value == "shopAddressType").First().Value,
                        shopStreet = shop.Elements().Where(x => x.Attribute("name").Value == "shopStreet").First().Value,
                        shopHouseNum = shop.Elements().Where(x => x.Attribute("name").Value == "shopHouseNum").First().Value,
                        shopProvinceCode = shop.Elements().Where(x => x.Attribute("name").Value == "shopProvinceCode").First().Value,
                        shopCity = shop.Elements().Where(x => x.Attribute("name").Value == "shopCity").First().Value,
                        shopCountry = shop.Elements().Where(x => x.Attribute("name").Value == "shopCountry").First().Value,
                        shopZip = shop.Elements().Where(x => x.Attribute("name").Value == "shopZip").First().Value,
                    };

                    bindedShops.Add(newShop);
                }
            }

            return bindedShops;
        }

        async Task<List<Terminal>> BindTerminals(XElement? terminalsXml)
        {
            // todo
            return new List<Terminal>();
        }

        // bind it to
        //      -   CustomersGrid's customers variable,
        //      -   ShopsGrid's shops variable
        //      -   TerminalsGrid's terminals variable
        companies = await BindCompanies(xmlTree.Elements().Where(x => x.Name.NamespaceName.ToString().Contains("company")).FirstOrDefault());

        // shops = await BindShops(xmlTree.Elements().Where(x => x.Name.NamespaceName.ToString().Contains("shop")).FirstOrDefault());

        // terminals = await BindTerminals(xmlTree.Elements().Where(x => x.Name.NamespaceName.ToString().Contains("terminal")).FirstOrDefault());
    }
}
